

/* variable */
:root{
	--main-color: #10cab7;
}
/* special heading */
.special-heading{
	font-size: 100px;
    margin: 0px;
    font-weight: 800;
    color: #f6f6f6;
    letter-spacing: -5px;
}
.special-heading+p{
    margin: 0px;
    font-weight: 34;
    font-size: 20px
}

@media(max-width: 767px){
	.special-heading{
		font-size: 60px;

	}
	.special-heading + p{
		font-size: 15px;
	}
}

/* special heading */

*global role*/
*{
	box-sizing: border-box;
}
body{
	font-family: 'Work Sans', sans-serif;
}
@media (min-width: 768px){
	.container{
		width: 700px;
	}
}

@media (min-width: 992px){
	.container{
		width: 900px;
	}
}
@media (min-width: 1200px){
	.container{
		width: 1000px;
	}
}

/* header */

.header{
	background-color: #ddd;
}
 .container{
	margin: auto;
	padding: 10px;
	display: flex;
    justify-content: space-between;
    align-items: center;

}
.container img{
	width: 60px;
}
/* links */
.header .links{
    position: relative;
    transition: 0.3;
}
.header .links ul{
	list-style: none;
    background: #f2f2f2;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    min-width: 150px;
    display: none;
    z-index: 2;
}
.header .links:hover ul{
	display: block;

}
.header .links ul::before{
	content: "";
    border-width: 14px;
    border-style: solid;
    border-color: transparent transparent #f2f2f2 transparent;
    position: absolute;
    top: -28px;
    right: 0px;
}

.header .links ul a{
	display: block;
    padding: 15px;
    text-decoration: none;
    color: #302;
    transition: .3s;
}
.header .links ul a:hover{
	padding-left: 20px;
}
.header .links ul li:not(:last-child) a{
	border-bottom: 1px solid #ddd;
}
.header .links li{
	width: 100%;
}
/* end of links */
/* icon */
.header .icon{
	width: 30px;
	display: flex;
	margin-top: 2px;
    flex-wrap: wrap;
     justify-content:flex-end;
}
.header .icon span{
	margin-bottom: 3px;
    height:2px;
    background:#000;
   
}
.header .links:hover{
	cursor: pointer;
}
.header .links:hover  span:nth-child(2){
	width: 100%;
}
.header .icon span:first-child{
    width: 100%;
}
.header .icon span:nth-child(2){
    width: 60%;
    transition:all .3s;
}
.header .icon span:last-child{
    width: 100%;
}

/* end of header */


/* landing */

.landing{
	background-image: url(../img/mountain.webp);
	background-size: cover;
	height: calc(100vh - 44px);
    position: relative;
}
.landing .intro-text{
position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-219px, -101px);
    text-align: center;
    width: 429px;
    min-width: 200px;
}
.landing .intro-text h1{
	margin: 0px;
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;

}
.landing .intro-text p{
	color: #DEE;
    font-size: 19px;
}

/* end landing */
/*  start features */
.features{
	background: #DDD;
	padding-top: 20px;
	padding-bottom:20px ;
}

.features .container{
	display: grid;
	grid-gap: 20px;
	grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
}

.features .feat{
	padding: 10px;
	text-align: center;
}
.features .feat i{
	color: var(--main-color);
	font-size: 50px;
}
.features .feat h3{
font-weight: 800;
    margin: 30px 0px;
}
.features .feat p{
	color: #555;
    font-weight: 200;
    line-height: 1.5;
}
@media(max-width: 1200px){
	.features .container{
		display: flex;
		flex-direction: column;
	}
}

/*  end features */
/*  start services*/
.Services{
	padding-top: 20px;
	padding-bottom: 20px;
}
.Services .container{
	display: block;
	text-align: center;
}
.Services .Services-content{
	margin-top: 60px;
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.Services .Services-content .ser{
	display: flex;
    margin-bottom: 40px;
    text-align: left;
}
@media(max-width: 767px){
	.Services .Services-content .ser{
		flex-direction: column;
		text-align: center;
	}
	.Services .ser .text{
		text-align: center;
	}
}
	.Services .ser i{
		color: var(--main-color);
		flex-basis: 60px;
	}
	.Services .ser .text{
		flex: 1;
	}
	.Services .ser h3{
		margin: 0 0 20px ;
	}
	.Services .ser p{
		color: #777;
		font-weight: 300;
		font-size: 15px;
	}
	.Services .col .image{
		position: relative;
    text-align: center;
    height: 100%;
	}
	.Services .col .image::before{
		content: "";
		position: absolute;
	    background: #2c4755;
	    height: calc(100% + 40px);
	    right: 0;
	    top: -20px;
	    width: 21%;
	    z-index: -1;
	}
	.Services .col .image img{
	height: 100%;
    width: 80%;	
	}
	.Services .col .image-all{
		height: 100%;
	}
	@media(max-width: 990px ){
	.Services .col .image-all {
		display: none;
	}	
	}

/*  end services */
/*  start Portfolio */
.Portfolio{
	background: #ddd;
	text-align: center;
	margin: 0px;
	padding: 20px 0px;
}
.Portfolio .container{
	display: block;
	padding:10px ;

}
.Portfolio .Portfolio-content{
	margin-top:60px;
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
	grid-gap: 20px;

}
.Portfolio .Portfolio-content .port{
	box-shadow: 1px 1px 11px #777;
    background: #f2f2f2;
    transition: 0.3s;
}
.Portfolio .Portfolio-content .port:hover{
	transform:scale(.9,0.9);
}

.Portfolio .Portfolio-content img{
   width: 100%;
    height: 280px;

}
.Portfolio .Portfolio-content .text{
	text-align: left;
    padding: 5px 10px;
}

.Portfolio .Portfolio-content .text h3{

}
.Portfolio .Portfolio-content .text p{
	line-height: 1.5;
    color: #777;
    font-size: 16px;
    font-weight: 300
}
@media(max-width: 1200px) {	
.Portfolio .Portfolio-content{
	display: flex;
	flex-direction: column;

}
}

/*  end Portfolio */
/*  start About */
.About {
	text-align: center;
	margin: 0px;
	padding-top: 20px;
	padding-bottom: calc(20px + 20px);
}
.About .container{
	display: block;
	padding:10px ;
}

.About .About-content{
	margin-top:60px;
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(400px,452px));
	grid-gap: 95px;

}

.About .About-content .image{
	width: 100%;
	height: 100%;
	position: relative;
}

.About .About-content .image img{
	width:60%;
	height: 100%;
}

.About .About-content .image::before{
	content: "";
	position: absolute;
    background: #DDD;
    height: calc(100% + 60px);
    left: 75px;
    top: -30px;
    width: 15%;
    z-index: -1;
}
.About .About-content .image::after{
content: "";
position: absolute;
    width: 10%;
    height: 140px;
    border-left: 60px solid var(--main-color);
    border-bottom: 50px solid var(--main-color);
    top: -15px;
    z-index: -1;
    right: 10px;
}

.About .About-content .text{
	text-align: left;
}
.About .About-content .text p:first-of-type{
	line-height: 1.5;
    font-weight: 900;
    padding-bottom: 0px;
    margin-bottom: 35px;
}
.About .About-content .text p:last-of-type{
	padding: 0px;
    color: #777;
    margin: 0px;
}


}
.About .About-content .text hr{
display: inline-block;
    width: 50%;
    border-color: var(--main-color);
}

@media(max-width: 1200px){
	.About .About-content{
		display: flex;
		flex-direction: column;

	}
	.About .About-content .text hr{
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);
}
.About .About-content .image::after{
	right: 45px;
}
}
/*  end About */
/*  start Contact */
.Contact{
	background: #ddd;
	padding-top:20px ;
	padding-bottom:20px ;
	text-align: center;
}
.Contact .container{
	display: block;
	padding: 10px;
}
.Contact .Contact-content{
	margin-top: 60px;
    margin-bottom: 60px;
}
.Contact .Contact-content .label{
	font-size: 35px;
    letter-spacing: -2px;
    font-weight: 900;
    color: #2c4755;
}
.Contact .Contact-content a{
	text-decoration: none;
    color: var(--main-color);
    font-size: 30px;
    font-weight: 700;

}
/*.Contact .Contact-content .link:after{
	content: "";
	position: absolute;
    width: calc(100% + 45px);
    background: #f6f6f6;
    height: 60%;
    bottom: -10px;
    right: 0px;
    z-index: -1;
}*/
.Contact .Contact-content .social{
	display: flex;
	margin-top: 20px;
	justify-content: center;
	font-size: 10px;

}
.Contact .Contact-content .social i{
	font-size: 15px;
    color: #2c4755;
    margin-left: 10px;
}
@media(max-width: 720px){
	.Contact .Contact-content .label{
		font-size: 28px;
	}
	.Contact .Contact-content a{
		font-size: 23px;
	}
}

/*  end Contact */
/*  start footer */
.footer{
	background: #2c4755;
	color: #f2f2f2;
	padding: 25px 10px;
	text-align: center;
	letter-spacing: -1px;
	font-weight: 800;

}
.footer span{
	color: var(--main-color);
}
/*  end footer */

