*global role*/
*{
	box-sizing: border-box;
}

body{
	font-family: 'Work Sans', sans-serif;
}
@media (min-width: 768px){
	.container{
		width: 700px;
	}
}

@media (min-width: 992px){
	.container{
		width: 900px;
	}
}
@media (min-width: 1200px){
	.container{
		width: 1000px;
	}
}

/* header */

.header{
	background-color: #ddd;
}
.container{
	margin: auto;
	padding: 10px;
	display: flex;
    justify-content: space-around;
    align-items: center;
}
.container img{
	width: 60px;
}

.container .links{
	display: flex;
    position: relative;
    border: 1px solid;
}

.container .links .icon{
	width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    /* align-content: center; */
    margin: auto;
}

.container .links .icon:first-child{
width: 100%;
    height: 2px;
    border: 1px solid;
    margin-bottom: 2px;
}
.container .links .icon:nth-child(2){
    width: 60%;
    height: 2px;
    border: 1px solid;
    margin-bottom: 2px;

.}

.container .links .icon:last-child{
    width: 100%;
    height: 2px;
    border: 1px solid;
    margin-bottom: 2px;

.}

.container .links .ul{
	list-style: none;
    display: inherit;
}





